
//font family
$font--brand__main: 'Open Sans', sans-serif;

//font sizes
$font-size__default: 14px;

//brand
$color--brand__main: #6a737c;

//general
$color--main__grey: #ccc;
$color--brand__grey-dark: #666;